{% extends "::base3.html.twig" %}

{% block title %}LogBundle:Login:index{% endblock %}

{% block body %}


           </div>

         </div>


</form>    
           
            
              
</br>
                <div class="col-sm-8 bottoni">     
               </a><br>  <p><label>PASSWORD DIMENTICATA? richiedila</label>  <a class="password" href="{{asset ('/app_dev.php/log/recuperopassword')}}"title="forgotpassword"  > <span style= "color:#55c4b1 "> QUI </span></a><br>
             </div>
                
            
            </form>
            
{% endblock %}
